@media (min-width: 768px) {
.my-custom-container{
    width:600px;
}}

@media (min-width: 992px) {
.my-custom-container{
    width:720px;
}}

@media (min-width: 1200px) {
.my-custom-container{
    width:900px;
}}


.jumbotron {
background-image: url(/img/Layer94.png);
background-size: cover;
height: 100%;
font-size: 14px;
}

.navbar-inverse {
    background-color:rgb(153, 146, 129)
}

ul .nav navbar-nav a {
    font-size: 12px;
    color: #716851;
    text-shadow: 1px 1px 1px #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    text-transform: uppercase;
    line-height: 67px;
    display: block;
    padding: 0px 10px;
    font-family: Georgia, serif;
}
