@import 'media_queries.css';

%padding {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
%padding-right-and-left {
  padding-right: 16%;
  padding-left: 16%;
}

body {
    background: url('/img/templates-background.jpg');
    font-family: 'Myriad Pro', sans-serif;
    font-size: 12px;
}

#header {   
    background-image: url(/img/Layer94.png);
    height: 255px !important;
    color: #fff;
    width:100%;
}

/*Navbar*/

.navbar-wrapper {
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  
  .container {
    padding-right: 0;
    padding-left: 0;
  }

  #nav-text {
    padding-right: 15px;
    padding-left: 15px;
    background:  rgb(153, 146, 129);
    border: 0;
    border-radius: 0;
    color: #fff;
    margin-bottom: 0;
    margin-top:30px;

  .navbar-header {
    position: absolute;
    width: 100%;
  }

  .navbar-toggle {
    float: right;
    position: relative;
    right: 70px;
  }

  ul {
    background:  rgb(153, 146, 129);
    margin-left: 0;
  }

  a {
    color: inherit;
    font-style: bold;

    &:hover {
      text-decoration: none;
    }
  }

    .container {
        width: auto;
        padding: 0;
    }
  }

   li,
  .navbar-brand {
    text-transform: uppercase;

    &:hover {
      color:  rgb(238, 238, 186);
      font-style: italic;
    }
  }

  .current {
    li::before,
    li::after {
      background-color:  rgb(140, 134, 118);
      content: '';
      display: block;
      height: 2.5px;
      width: 100%;
    }
  }
}


/* CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 466px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
  
  p{
      font-size:16px;
  }
  
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

    
/*Slogan in header*/

#header-description{
color: #fff;
margin-top: 140px;


  #header-slogan,
  p {
    width: 70%;
  }

  #header-slogan {
    text-transform: uppercase;  
  }

  #header-slogan-text {
    font-size: 14px;
  }
}


/*  Camper template*/

.product-info{

  .product-description {
    display: inline-block;
  }

  .cam-img {
    img {
      border: 5px solid #fff;
      height: 250px;
      margin-left: 0;
      width: 100%;
    }
  }

   aside {
    line-height: 26px;
         
      .recent-data {
          margin-bottom: 30px;
           
        ul {
          padding-left: 10px;
             
            a {
              font-family: Georgia;
              color: #6c634b;
              }
          }
      }
    }
}
  
/*Price rows*/

  .price-row {
    width: 280px;
    padding-right: 30px;
    float: left;
    margin-left: 23px;
  }

  .price-row p{
    border-bottom: 1px solid #000;
    float: left;
    width: 100%;
    margin-bottom: 0px;
    padding: 7px 0;
  }

/* Aside menu*/


/*RESERVATIOn input*/

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

/*Campers page*/

.gallery-view {
  @extend %padding-right-and-left;
}

.category-title {
    font-family: "LeagueGothic-Regular",serif;
    font-style: normal;
    color: #c7c399;
    text-transform: uppercase;
}

.category-inner-element {
  height: 70px;
  margin-bottom: 16px;
  padding: 0;

  .thumbnail {
    background-color: inherit;
    border: 0;
    height: 70px;
    padding: 0;

    img {
      border: 5px solid #fff;
      height: 64px;
      margin-left: 0;
      width: 56px;
    }

    a {
      float: left;
      height: 64px;
      margin-right: 15px;
      padding: 0;
      position: relative;
      width: 56px;
    }

    .menu-aside {
     
      h5 {
        color: #725D50;
        font-size: 1em;
        margin: 0;
      }
    }

    .price-tag {
      background: url('/img/price-tag.png') no-repeat bottom left;
      display: block;
      font-size: .8em;
      left: -8px;
      padding-left: 8px;
      position: absolute;
      top: 12px;

      span {
        color: #fff;
        display: block;
        font-style: normal;
        height: 31px;
        margin-left: -6px;
        padding: 5px 5px 0 0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
      }
    }
  }
}

.capacity {
  color: #92907c;
  font-family: "Georgia",serif;
  font-size: 12px;
  font-style: italic;
  text-shadow: 1px 1px 1px #fff;
}

/*Footer-data*/

.content-footer{
    padding-top: 35px;
    background-color: #f2f1e8;
    text-align: left;
    font-family: Georgia,serif;
    
    a {
      color: #442917;
    }
}

.recent-data{
    line-height: 24px;
    color: #442917;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5cf9d;
}

.title {
    font-family: "LeagueGothic-Regular",serif;
    font-style: normal;
    color: #c7c399;
    text-transform: uppercase;
}

/*footer*/

.footer {
  @extend %padding-right-and-left;
  background: #f2f1e8 !important;
  margin-bottom: 0px;
  padding-top: 10px;
  text-align: center;
  height: 140px;

  #footer-logo {
    color: #442917;
    padding-left: 5px;

    img {
      height: 20px;
    }

    span {
      font-size: 1.4em;
    }

    p {
      color: #a29d79;
      font-style: italic;
      margin-top: 10px;
      padding-left: 0;
      text-transform: capitalize;
    }
  }
}

.footer-nav {
    color: #442917;
    text-align: center;
    text-transform: uppercase;

    ul {
      display: inline-block;
      padding: 0;
    }

    li {
      display: inline-block;

      &:nth-of-type(2) {
        margin: 0 20px;
        vertical-align: middle;
      }
    }

    a {
      background: none;
      color: inherit;

      &:hover {
        color: #a29d79;
        font-style: italic;
        text-decoration: none;
      }
    }
  }

/*  Location page*/

.breadcrumb-and-search {
  padding-right: 5%;
  padding-left: 5%;
  background-color:  rgb(248, 247, 242);
  height:50px;
  .search {
    padding: 5px 0;

    input {
      border-radius: 20px !important;
      float: right;
      margin-right: 10px;
      width: 150px;
      margin: 4px 5px;
    }

    button {
      background: url('/img/search-btn.png') no-repeat center !important;
      border-radius: 20px !important;
      color: #fff;
      margin:4px;
    }
  }

  .pathline {
    font-family:  Georgia;
    margin-bottom: 0;
    height: 50px;
    list-style:none;
    li {
          float: left;
          line-height: 50px;
          padding: 0px 10px;
    }
    li + li:before {
      content: '>>';
      font-size: .8em;
      line-height: 50px;
      margin-right: 15px;
    }

    a {
      color: rgb(146, 144, 124);
      text-decoration: none;
      text-transform: uppercase;
      display:inline-block;
    }

    .active {
      color: rgb(146, 144, 124);
      text-transform: uppercase;
    }
  }
}

.left-section {
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;

    .title {
    font-family: "LeagueGothic-Regular",serif;
    font-style: normal;
    color: #c7c399;
    text-transform: uppercase;;
    }

    .extras-container {
      color:#442917;
      font-size: 14px;
    }
  

    p {
      color:#442917;
      font-size: 14px;
    }

    time,
    span {
      color: rgb(146, 144, 124);

      &:hover {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .map{
    padding: 0;

    .gmap {     
      float: left;
      height: 400px;
      position: relative;
      width: 100%;
    }
  }

/*Home template*/

.suggestions-title {
    font-family: "LeagueGothic-Regular",serif;
    font-style: normal;
    color: #c7c399;
    text-transform: uppercase;
}

.home-inner-element {
  height: 70px;
  margin-bottom: 16px;
  padding: 0;

  .thumbnail {
    background-color: inherit;
    border: 0;
    height: 50px;
    padding: 0;

    img {
      border: 5px solid #fff;
      height: 64px;
      margin-left: 0;
      width: 56px;
    }

    a {
      float: left;
      height: 64px;
      margin-right: 15px;
      padding: 0;
      position: relative;
      width: 56px;
    }

    .menu-aside {
     
      h5 {
        color: #725D50;
        font-size: 1em;
        margin: 0;
      }
    }

    .price-tag {
      background: url('/img/price-tag.png') no-repeat bottom left;
      display: block;
      font-size: .8em;
      left: -8px;
      padding-left: 8px;
      position: absolute;
      top: 12px;

      span {
        color: #fff;
        display: block;
        font-style: normal;
        height: 31px;
        margin-left: -6px;
        padding: 5px 5px 0 0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
      }
    }
  }
}


.thumb {
    padding: 0;
    margin-right: 15px;
    margin-bottom: 10px;
    height: 69px;
    width: 69px;

     img {
            width: 100%;
            height: 100%;
        }
}

.pull-left {
  float: left!important;
}

.link-tips {
  font-style: italic;
}

/*Tips page*/

#blog-page-content {
  color: #442917;
  line-height: 2em;
  font-size:14px;

  .post {
    .thumb {
      width: 219px;
      height: 219px;
      }
    }
      
  aside {
    line-height: 26px;
         
      .recent-data {
          margin-bottom: 30px;
           
        ul {
          padding-left: 10px;
             
            a {
              font-family: Georgia;
              color: #6c634b;
              }
          }
      }
    }
}