<div class="content-footer">
    <div class="container">
        <div class="footer about-text">
            <div class="col-xs-12 col-sm-4">
                <h3><img src="img/footer-logo-site.png" alt="MylifeInmotion"></h3>
                <p>
                    &copy;mylifeInmotion, 2017
                </p>
                <div>
                    Rent an Campers/Motorhome and enjoy the freedom to explore the Balkans. We specialize in round trip and one way RV rentals...
                    you choose the destination pickup and drop off points as well as the dates. Easy!
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3 class="title">Recent Comments</h3>
                <div>
                    <ul>
                        <li><a href="#/">New Theme: DeepFocus- Vivamus Donec quisquam on iusto</a></li>
                        <li><a href="#/">Frankie on At vero eos et accusamus et iusto</a></li>
                        <li><a href="#/">Sov on Urna eget erat non purus</a></li>
                        <li><a href="#/">Light on Neque porro quisquam est qui</a></li>
                        <li><a href="#/">Serg on Aenean bibendum elementum pede</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3 class="title">News</h3>
                <div>
                    Renting an RV can be expensive, but it doesn't have to be if you know the secrets. One of the best ways to save money is
                    relocating an RV. You can literally save hundreds over a two week period. RV rental companies quietly
                    offer deep discounts if you move one of their rental rigs from one location to another.
                </div>
            </div>
        </div>
    </div>
</div>