<div class="breadcrumb-and-search">
    <ol class="pathline col-sm-4">
        <li><a href="#/home">Home</a></li>
        <li class="active">Location</li>
    </ol>
    <div class="col-sm-8 search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search this website...">
            <span class="input-group-btn">
                    <button id="btn-search" class="btn btn-default" type="submit">Search</button>
                </span>
        </div>
    </div>
</div>
<div class=" container left-info">
    <div class="left-section col-lg-4">
        <p class="title">
            Address
        </p>
        <p class="description">
            104, Tsarigradsko shose blvd, Sofia
        </p>
        <p class="title">
            Hours of operation
        </p>
        <p class="description">
            <p>Monday - Friday:
                <time>10:00-18:00</time>
            </p>
            <p>Saturday - Sunday:
                <time>10:00-18:00</time>
            </p>
        </p>
        <p class="title">
            Contact info
        </p>
        <p class="description">
            <p>
                Email address: <span>campers@tele.com</span>
            </p>
            <p>
                Telefon: <span>088887879</span>
            </p>
        </p>
    </div>
</div>