<div class="breadcrumb-and-search row">
    <ol class="breadcrumb col-sm-4">
        <li><a href="#/home">Home</a></li>
        <li class="active">Location</li>
    </ol>
    <div class="col-sm-8 search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search this website...">
            <span class="input-group-btn">
                    <button id="btn-search" class="btn btn-default" type="submit">Search</button>
                </span>
        </div>
    </div>
</div>