<div class="container" id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="header-description">
                    <h3 id="header-slogan">
                        life in motion
                    </h3>
                    <p id="header-slogan-text">
                        Take only a good company along the road
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="breadcrumb-and-search">
    <ol class="pathline col-sm-4">
        <li><a href="#/home">Home</a></li>
        <li class="active">Tips</li>
    </ol>
    <div class="col-sm-8 search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search this website...">
            <span class="input-group-btn">
                    <button id="btn-search" class="btn btn-default" type="submit">Search</button>
                </span>
        </div>
    </div>
</div>

<div class="container">
    <div id="blog-page-content" class="row">
        <div class="col-xs-12 col-sm-9">

            <section class="post">
                <h3 class="suggestions-title">
                    Camper Calling Festival 2017
                </h3>
                <div class="thumb pull-left">
                    <img src="img/Crew-2.jpg" class="img-thumbnail" alt="img">
                </div>
                <div class="post-body">
                    The new festival <strong>Camper Calling </strong> returning to Ragley Hall in Warwickshire this summer.
                    Indie rock bands Cast and Reef are headlining the event, on the late August Bank Holiday weekend from
                    August 25-27. The brainchild of the team behind Camper Jam in Weston Park, Camper Calling was a hit when
                    it made its debut last year as a family-friendly, boutique music festival. In 2016 the line-up included
                    ABC, The Hoosiers, Toploader and Dodgy. Read More More acts will be announced for this summer, to play
                    alongside all the food and activities on offer for all ages. Tickets are on sale here now at a reduced
                    rate, from £8.50 for children and £75.65 for adults for weekend camping. Under fives go free. Day tickets
                    go on sale from February 6 for £29.75 for adults. Read More Events director Shelley Bond said: “We know
                    our core audience are big Britpop fans and it is a huge honour to announce Cast and Reef as our first
                    two headliners. “I know they’re going to blow the crowd away. We’ll be announcing some further big names
                    shortly. “Camper Calling 2016 exceeded all of our expectations and we’re determined to make 2017 even
                    better than our first year.” Expect craft workshops, campfire tales, lake activities, circus shows, a
                    fun fair and street food. Plus AüguztFest for the connoisseur of fine beer with a live Oomp Every vehicle
                    MUST have a vehicle pass to enter the camp site. One vehicle pass is for a campervan, motor home, vehicle
                    plus a tent or vehicle plus caravan combination.
                </div>
            </section>

            <hr/>

            <section class="post">
                <h3 class="suggestions-title">
                    5 Quick Tips for RV Beginners
                </h3>
                <div class="thumb pull-left">
                    <img src="img/tip2.jpg" class="img-thumbnail" alt="img">
                </div>
                <div class="post-body">
                    <h5><strong> 1: Decide Whether to Buy or Rent</strong></h5>
                    This isn't always an easy decision, with pros and cons for both. However, when you consider a few key factors, the answer
                    becomes clearer. <strong>Buy:</strong> You plan to go RV camping often or full-time
                    and you have storage for the times when you aren't traveling. <strong>Rent:</strong> You plan to go on
                    a single trip, or want to test the waters before making a purchase.
                    <h5><strong>Tip 2: Get to Know Your RV</strong></h5>With little road experience, it's especially important
                    that RV beginners take time to learn how the motorhome works, even if it's just a rental. If something
                    breaks, you should be able to assess the problem, and potentially fix it. This saves time and money spent
                    at a mechanic. When you get to know your RV, you're less likely to make operational errors. For example,
                    if you don't know how many amps your main breaker can handle, there's a good chance you'll blow it. This
                    is a potentially expensive error that can be avoided by getting to know your rig.
                    <h5><strong>Tip 3: Take a Practice Drive</strong></h5>Consider the roads you plan to drive on, and take a
                    smaller trip on similar terrain. As an RV beginner you don't yet know what will move around in the living
                    area or how hard it will be to switch lanes, ascend hills, and park. Once you know the intricacies of
                    driving an RV, you can make necessary adjustments. For example, if your drawers pop open, which they
                    often do, you need to find a way to keep them shut.
                    <h5><strong>Tip 4: Bring Tools and Spare Parts</strong></h5> Pack a well-stocked tool kit, and add in the
                    things that your RV might need, like extra fuses, light bulbs, jumper cables, nuts, bolts and connectors.
                    In addition, be sure to bring parts that are unique to your rig. Without these, you risk having to wait
                    for the part to be ordered and shipped.
                    <h5><strong>Tip 5: Don't Wing It</strong></h5>The urge to be spontaneous is tempting when your home is on
                    wheels. Beckleys RVs is empathetic: "There's a certain pleasure in going where you want, when you want."
                    Still, they recommend you have a plan: "It does help, however, to have a solid plan in place if it's
                    your first time planning an RV trip."
                </div>
            </section>
        </div>

        {{!--Right-panel--}}

        <aside class="col-sm-3">
            <div id="myifeinmotion-aside" class="collapse navbar-collapse">
                <div class="recent-data">
                    <h3 class="title">Recent Tips</h3>
                    <div class="recent-data panel">
                        <div class="panel-body">
                            <ul>
                                <li><a href="#/home/recommendations">Camper Calling Festival 2017</a></li>
                                <li><a href="#/home/recommendations">5 quick tips for RV beginners</a></li>
                                <li><a href="#/">My summer trip with camper to BiH</a></li>
                                <li><a href="#/">Additional equipment - top 10 basics</a></li>
                                <li><a href="#/">Serg on Aenean bibendum elementum pede</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="recent-data">
                    <h3 class="title">Recent Comments</h3>
                    <div class="recent-data panel">
                        <div class="panel-body">
                            <ul>
                                <li><a href="#/">What camper to choose?</a></li>
                                <li><a href="#/">Where to leave my camper for the winter?</a></li>
                                <li><a href="#/">New Laika campers - observation</a></li>
                                <li><a href="#/">Rubby is the best</a></li>
                                <li><a href="#/">I am not good front-ender</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>