<div class="container" id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="header-description">
                    <h3 id="header-slogan">
                        life in motion
                    </h3>
                    <p id="header-slogan-text">
                       Take only a good company along the road
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="breadcrumb-and-search">
    <ol class="pathline col-sm-4">
        <li><a href="#/home">Home</a></li>
        <li class="active">Location</li>
    </ol>
    <div class="col-sm-8 search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search this website...">
            <span class="input-group-btn">
                    <button id="btn-search" class="btn btn-default" type="submit">Search</button>
                </span>
        </div>
    </div>
</div>
<div class="row tips">

    <div class="tips-page-left col-lg-8 row">
    </div>
</div>